.ant-layout-content {
  background-color: #eaeef3;
  height: 100vh;
  padding: 50px;
}

.layout-header {
  height: 45px;

  background-color: #ffffff;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.layout-content {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
}

.ant-table {
  margin-top: 10px;
}

.btn-add-new {
  width: 100px;
  background-color: #6777ef;
  border: 1px solid #6777ef;
  color: #fff;
  padding: 10px 14px 10px;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  /* margin-top: -40px; */
}

.action-container {
  display: flex;
}

.action-edit {
  width: 28px;
  height: 28px;
  background-color: #ccffce;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.action-delete {
  border-radius: 6px;
  width: 28px;
  height: 28px;
  background-color: #ffdacc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.container-add-user {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
  border: 1px solid #deebfd;
  box-shadow: -8px 12px 18px 0 #dadee8;
}

.card-head {
  border-radius: 2px 2px 0 0;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  padding: 2px;
  text-transform: uppercase;
  color: #3a405b;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  min-height: 40px;
}

.card-head > h1 {
  margin-left: 15px;
}

.infor {
  padding: 15px;
}

.infor > input {
  border-top: none;
  border-left: none;
  border-right: none;
}

/* .btn-container-add > button {
  border-radius: 12px;
} */
